* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    color: #37384E;
    background-image: linear-gradient(135deg, #37384E 10%, #00AE8C 100%);
    width: 100%;
    overflow-x: hidden;
  }
  
  .header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 20px 4px rgb(55, 56, 78, 0.25);
  }
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }

  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  .about-me img{
    width: 100%; 
    height: 120px;
    padding: 10px;
  }
  
  .fakeimg {
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 20px;
  }
  
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card li{
    list-style: none;
    text-align: center;
  }

  .card a{
    text-decoration: none;
    color: #37384E;
  }

  .followMe{
    background-color: #47485c;
    padding: 20px;
    margin-top: 20px;
    list-style: none;
    color: #ffffff;
  }

  .followMe img{
    height: 1.5rem;
    width: 1.5rem;
  }

  .followMe a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 80px;
    padding-left: 10px;
  }
  
  @media screen and (max-width: 760px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }