#footer-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-bottom: 0rem;
    padding-top: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.whiteFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 1rem;
    min-width: 350px;
    max-width: 1200px;
    width: 100%;
}

.whiteFooter a{
    color: #37384E;
}

.whiteFooter1, .whiteFooter2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.whiteDiv1, .footerLogo{
    margin-right: 7rem;
}

.footerLogo img{
   width: 9vw;
   height: 5vw;
   cursor: pointer;
}

.icons img{
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 0.3rem;
}

.darkFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #37384E;
    color: white;
    margin-bottom: 0rem;
    width: 100%;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid #FFFFFF;
}

.socials img{
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem 3.8rem;
}

.sign{
    flex-direction: column;
    line-height: 1.25rem;
    margin: 1rem 1rem 0rem 1rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .whiteFooter{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
    }

    .whiteDiv1, .whiteDiv2{
        padding: 2.5rem 1rem;
        align-items: flex-start;
        line-height: 1.5rem;
        margin-right: 3rem;
    }

    .footerLogo, .icons{
        padding: 1.5rem 0.8rem;
        align-items: flex-start;
        margin-right: 3rem;
        line-height: 1.5rem;
    }

    .footerLogo img{
        width: 7.5rem;
        height: 4rem;
        margin-left: 1rem;
    }

    .darkFooter{
        align-items: center;
        justify-content: center;
        font-size: 2.5vw;
    }  

    .sign{
        margin: 0.5rem 1rem;
    }
}

@media (max-width: 440px) {
    .socials{
        width: 22rem;
    }
}
