.supportedBy__section{
    background-color: rgb(0, 174, 140,0.25);
    height: max-content;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.supportedBy__section_heading h2{
    font-family: 'Copperplate Gothic Bold';
    font-weight: 400;
    line-height: 1vw;
    color: #37384E;
}

.supportedBy__section_heading{
    border-bottom: 0.1rem solid #37384E;
    width: max-content;
    height: auto;
    margin: 4% auto 2%;
    padding: 0 1%;
    align-items: center;
}

.supportedBy__section_content_card img{
    width: 10vw;
    height: 10vw;
    position: relative;
    left: 2.5vw;
    box-shadow:0 0.25vw 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.supportedBy__section_content_card p{
    width: 15vw;
    text-align: center;
}

.supportedBy__section_content_card{
    background-color: #FFF;
    text-align: center;
    padding: 1vw 4vw 1vw 1vw;
    box-shadow: 0 0.5vw 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.supportedBy__section_content{
    margin: 0 10% 3%;
    background-color: rgb(0, 174, 140,0);
}

.slick-slide{
    margin: 1vw;
    height: 100%;
}

@media only screen and (max-width:504px){
    .supportedBy__section_content_card p{
        width: 40vw;
        text-align: center;
        padding: 0 16vw;
    }

    .supportedBy__section_heading{
        margin: 5% auto 5%;
    }

    .supportedBy__section_content_card{
        background-color: #FFF;
        text-align: center;
        padding: 1vw 1vw 1vw 1vw;
    }

    .slick-slide{
        margin: 3vw;
    }

    .supportedBy__section_content_card img{
        width: 20vw;
        height: 20vw;
        position: relative;
        left: 25vw;
        top: 2vw;
        box-shadow:0 0.25vw 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
}
